<div class="form-group">
    <input type="text" 
        [(ngModel)]="searchString"
        placeholder="search" 
        class="form-control form-control-sm" 
        autofocus 
        (keyup)="onType()">
    <div class="invalid-feedback d-block"
        *ngIf="!showElements.length && searchString.length">
        Please provide a valid city.
    </div>
</div>

<table *ngIf="showElements.length">
    <tr *ngFor="let t of showElements">
        <td><h4><b>{{ t.label }}</b></h4></td>
        <td class="pl-5">{{ t.description }}</td>
    </tr>
</table>


<table *ngIf="!showElements.length">
    <tr *ngFor="let t of dictionary">
        <td><h4><b>{{ t.label }}</b></h4></td>
        <td class="pl-5">{{ t.description }}</td>
    </tr>
</table>
