.symbol {
    font-size: 180px;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .symbol {
        font-size: 120px;
        font-weight: 600;
    }
}

.mesures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    counter-reset: mesure;
}
