.symbol {
    font-size: 180px;
    font-weight: 600;
}

@media (max-width: 992px) {
    .symbol {
        font-size: 22vw;
    }
}

.mesures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    counter-reset: mesure;
}

.counter-setting {
    max-width: 600px;
    margin: 0 auto;;
}